.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.pill .in {
  display: none;
}

#textInfo .hotspot .out {
  width: 43px !important;
  height: 43px !important;
  border-width: 1px !important;
  border-color: blue !important;
  animation-name: grow;
  animation-iteration-count: infinite;
  animation-duration: .8s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

#textInfo:nth-child(3) .hotspot .out {
  border-color: red !important;
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}